#player
{
    background-color: aquamarine;
    text-align: center;
        -webkit-animation: rainbow 2s infinite;

}
#next:hover {
    background-color: aquamarine


}
#previous:hover {
    background-color: aquamarine;


}
#play:hover {
    background-color: aquamarine;


}
#stop:hover {
    background-color: aquamarine;


}
#pause:hover {
    background-color: aquamarine;

}
#stop
{
     -webkit-animation: rainbow 2s infinite;

}
#pause{
     -webkit-animation: rainbow 2s infinite;

}
#next{
     -webkit-animation: rainbow 2s infinite;

}
#play
{
     -webkit-animation: rainbow 2s infinite;

}
#previous{
     -webkit-animation: rainbow 2s infinite;

}
h1 {
    text-align: center;
    -webkit-animation: rainbow 2s infinite;
}
#pic
{
    width: 200px;
    height: 200px;
}


@-webkit-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}
}

// Spin animation
@keyframes spin {
  to { transform: rotate(360deg); }
}

.stroke-solid {
  stroke-dashoffset: 0;
  stroke-dashArray: 300;
  stroke-width: 4px;
  transition: stroke-dashoffset 1s ease,
              opacity 1s ease;
}

.icon {
  transform: scale(.8);
  transform-origin: 50% 50%;
  transition: transform 200ms ease-out;
}

// Hover
#players:hover {
  .stroke-solid {
    opacity: 1;
    stroke-dashoffset: 300;
  }
  .icon {
    transform: scale(.9);
  }
}


html {
  height: 100%;
}
ul li{
     display: inline;
    list-style: none;

}
.video {
	padding-right: 1.5cm;
	font-size: 28px;
	-webkit-animation: rainbow 2s infinite;
	font-weight: bold;
}
.music {
	padding: 6px;
	font-size: 28px;
	-webkit-animation: rainbow 2s infinite;
	font-weight: bold;
}

ul {
    text-align: center;
    background-color: aquamarine;
}

li:hover{
    background-color: aqua;
	cursor: pointer;
	cursor: hand;
}

body {
  height: 100%;
  background-image: url("http://taylorswines.uat.playhousedigital.com/media/wysiwyg/TaylorsWines/Homepage/img_video.png");
}
#players {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
