iframe {
    height: 300px;
    width: 450px;
    margin-top: 10px;
    border-radius: 30px;
}

ul li
{
    list-style: none;
    display: inline;

}
ul{
    text-align: center;
    background-color: aqua;
}

.video {
	font-size: 28px;
	-webkit-animation: rainbow 2s infinite;
	font-weight: bold;
}
.music {
	font-size: 28px;
	-webkit-animation: rainbow 2s infinite;
	font-weight: bold;
}

.rainbow {
    -webkit-animation: rainbow 1s infinite;
}

@-webkit-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}
}
#wrapper {
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}
li:hover{
    background-color: aqua;
	cursor: pointer;
	cursor: hand;
}


